<main class="container is-fluid">
  <button class="button is-link is-medium">Create New Post</button>
  {{#each posts}}
    <article class="box post">
      <p class="title post-title">{{this.title}}</p>
      <input
        class="post-title-input title has-text-black is-hidden"
        name="post-{{this.id}}-title-input"
        id="post-{{this.id}}-title-input"
      ></input>
      <p class="post-content">{{this.content}}</p>
      <textarea
        class="post-content-textarea is-hidden"
        name="post-{{this.id}}-content-textarea"
        id="post-{{this.id}}-content-textarea"
      ></textarea>
      <button class="update-button button is-primary is-medium is-hidden">Update</button>
      <button class="cancel-button button  is-medium is-hidden">Cancel</button>
    </article>
  {{/each}}
</main>
<script src="/js/dashboard.js" type="module"></script>