<main class="container is-fluid" data-logged-in="{{loggedIn}}">
  {{#each posts}}
    <article class="box post" data-id="{{this.id}}">
      <section>
        <p class="title">{{this.title}}</p>
        <p class="subtitle">
          Posted by
          {{this.username}}
          on
          {{this.niceDate}}</p>
        <p>{{this.content}}</p>
      </section>
      <section class="comments is-hidden">
        {{#each this.comments}}
          <div class="comment has-background-primary box" data-id="{{this.id}}">
            <p class="subtitle is-5">
              Posted by
              {{this.username}}
              on
              {{this.niceDate}}
            </p>
            <p>
              {{this.content}}
            </p>
            {{#if this.owned}}
              <button
                class="delete-comment-button button is-danger is-small"
              >Delete</button>
            {{/if}}
          </div>
        {{/each}}
        <section class="new-comment">
          <textarea
            name="new-comment-textarea"
            class="new-comment-textarea"
          ></textarea>
          <button
            class="create-comment-button button is-primary is-medium"
          >Post</button>
          <button class="close-comments-button button is-medium">Close</button>
        </section>
      </section>
    </article>
  {{/each}}
</main>
<script src="/js/home.js" type="module"></script>