<main class="container is-fluid">
  {{#each posts}}
    <article class="box post" data-id="{{this.id}}">
      <section>
        <p class="title">{{this.title}}</p>
        <p class="subtitle">
          Posted by
          {{this.username}}
          on
          {{this.niceDate}}</p>
        <p>{{this.content}}</p>
      </section>
      <section class="comments container is-fluid">
        {{#each this.comments}}
          <div class="comment has-background-primary box">
            <p class="subtitle is-5">
              Posted by
              {{this.username}}
              on
              {{this.niceDate}}
            </p>
            <p>
              {{this.content}}
            </p>
            {{#if this.owned}}
              <a
                class="delete-comment-button button is-danger is-small"
              >Delete</a>
            {{/if}}
          </div>
        {{/each}}
      </section>
      <section class="new-comment container is-fluid is-hidden">
        <textarea
          name="new-comment-textarea"
          class="new-comment-textarea"
        ></textarea>
        <a class="create-comment-button button is-primary is-medium">Post</a>
        <a class="cancel-create-comment-button button is-medium">Cancel</a>
      </section>
    </article>
  {{/each}}
</main>
<script src="/js/home.js" type="module"></script>